@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;0,900;1,100;1,200;1,300;1,500;1,600;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,900&display=swap");
:root {
  --primary-font-family: Poppins, sans-serif;
  --secondary-font-family: Roboto, sans-serif;
  --default-font-size: 16px;
  --primary-color: #fff;
  --secondary-color: #000;
  --tertiary-color: #c0c0c0;
  --quarternary-color: #fbff3d;
  --quinary-color: #5b58fb;
  --senary-color: #f1eeee;
  --septenary-color: #0906a3;
  --logo-color: #b8b8fa;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--default-font-size);
  font-family: var(--primary-font-family);
}

body {
  background-color: var(--senary-color);
}

.container {
  width: 98%;
  margin: auto;
  padding: 1rem;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

header {
  width: 100%;
  display: block;
  position: absolute;
  z-index: 1;
}

/* Nav */

nav {
  margin: 0.5rem 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
}

.logo a img {
  width: 2.5rem;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo a h1 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--logo-color);
}

.navlist {
  display: flex;
  font-family: var(--secondary-font-family);
}

.navitem:not(:last-child) {
  margin: 0 1rem 0 0;
}

.navlink {
  color: var(--tertiary-color);
  transition: color 0.5s ease-in;
  -o-transition: color 0.5s ease-in;
  -moz-transition: color 0.5s ease-in;
  -webkit-transition: color 0.5s ease-in;
}

.navlink:hover {
  color: var(--primary-color);
}

.active-menu {
  color: var(--primary-color);
}

.bar {
  display: none;
  cursor: pointer;
  color: var(--primary-color);
}

nav .close {
  display: none;
}

@media only screen and (max-width: 1080px) {
  .navmenu {
    transform: translateX(100%);
    background-color: var(--primary-color);
    position: fixed;
    right: 0;
    top: 0;
    width: 80%;
    transition: transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
    -moz-transition: transform 0.5s ease-in;
    -webkit-transition: transform 0.5s ease-in;
  }

  .navmenu-active {
    transform: translateX(0);
  }

  .bar {
    display: inline-block;
  }

  .navlist {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .navitem:not(:last-child) {
    margin: 0 0 2rem 0;
  }

  .navlink {
    color: var(--secondary-color);
  }

  .navlink::after {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--tertiary-color);
    width: 50%;
    left: 0;
    right: 0;
    margin: 1rem auto;
    position: absolute;
  }

  .navmenu .close {
    position: absolute;
    display: inline-block;
    z-index: 3;
    color: #000;
    top: 1rem;
    left: auto;
    right: 30px;
    cursor: pointer;
  }
}

main {
  width: 100%;
  position: relative;
}

/* Hero */
.hero {
  width: 100%;
  position: relative;
  height: 800px;
  overflow: hidden;
}

.slide {
  width: 100%;
  position: absolute;
}

.slide:not(.slide-active) {
  top: 0;
  left: -100%;
}

.slide-active {
}

.slide-detail {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  align-items: center;
  width: 60%;
  justify-content: space-between;
  left: 0;
  right: 0;
  margin: auto;
}

.slide .col-left {
  display: block;
}

.featured {
  display: inline-block;
  color: var(--primary-color);
  font-family: var(--secondary-font-family);
  background-color: var(--tertiary-color);
  padding: 0.5rem 1rem;
}

.hero-title {
  color: var(--primary-color);
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 3.2rem;
}

.slide .col-left .small-title {
  font-size: 2.5rem;
}

.slide .col-left .small-title::after {
  content: "\a";
  white-space: pre;
}

.btn {
  width: 200px;
  display: inline-block;
  background-color: var(--quinary-color);
  padding: 1rem;
  color: var(--primary-color);
  margin: 2rem 0 0 0;
  border: 0;
  border-radius: 50px;
  text-align: center;
  transition: background-color 0.5s ease-in;
  -o-transition: background-color 0.5s ease-in;
  -moz-transition: background-color 0.5s ease-in;
  -webkit-transition: background-color 0.5s ease-in;
}

.slide .btn:hover {
  background-color: var(--septenary-color);
}

.slide .col-right {
  background-color: var(--tertiary-color);
}

.col-right .thumbnail-img {
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 400px;
}

.col-right .thumbnail-img img {
  width: 100%;
}

.social-media {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 4rem 4rem 0;
}

.social-list {
  display: flex;
  flex-direction: column;
}

.social-list .items {
  background-color: #ffffff;
  padding: 1rem;
  border: 0;
  border-radius: 100%;
}

.social-list .s-ig:hover {
  transition: background-color 0.5s ease-in;
  background-color: #f09433;
}

.social-list .s-yt:hover {
  transition: background-color 0.5s ease-in;
  background-color: #ff0000;
}

.social-list .s-twitter:hover {
  transition: background-color 0.5s ease-in;
  background-color: #1da1f2;
}

.social-list .s-fb:hover {
  transition: background-color 0.5s ease-in;
  background-color: #3b5998;
}

.social-list .items {
  margin: 0 0 1rem 0;
}

.social-list .items a {
  color: var(--tertiary-color);
}

.social-list .items a:hover {
  transition: color 0.5s ease-in;
  color: var(--primary-color);
}

.social-list .items a i {
  text-align: center;
}

.img-bg-slide {
  width: 100%;
  height: 800px;
}

.img-bg-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--primary-color);
  margin: 0 0 4rem 0;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot:hover {
  background-color: var(--primary-color);
  transition: background-color 0.5s ease;
}

.dotActive {
  background-color: var(--primary-color);
}

@media only screen and (max-width: 1080px) {
  .slide-detail {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .col-right .thumbnail-img {
    width: 300px;
    height: 300px;
  }

  .featured {
    margin: 3rem 0 0 0;
  }

  .slide .col-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-title {
    text-align: center;
    font-size: 3rem;
  }

  .small-title {
    font-size: 2rem;
  }
}

@keyframes next1 {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes next2 {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

@keyframes prev1 {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

@keyframes prev2 {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

@media only screen and (max-width: 924px) {
  .slide-navigation {
    margin-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 900px) {
  .col-right .thumbnail-img {
    width: 250px;
    height: 250px;
  }

  .slide .col-left .hero-title {
    font-size: 2rem;
    line-height: 2rem;
  }

  .slide .col-left .small-title {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 590px) {
  .social-media {
    width: fit-content;
    left: 0;
    margin: 2rem auto;
    right: 0;
    bottom: 69px;
  }

  .social-list {
    flex-direction: row;
  }

  .social-list .items {
    margin: 0 0.2rem;
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }

  .social-list .items a {
    margin: -0.2rem -0.01rem;
    display: block;
  }

  .social-list i {
    font-size: 1.2rem;
    text-align: center;
  }

  .col-right .thumbnail-img {
    width: 200px;
    height: 200px;
  }

  .slide .col-left .hero-title {
    font-size: 1.8rem;
    line-height: 1.7rem;
  }

  .slide .col-left .small-title {
    font-size: 1.2rem;
  }

  .slide .btn {
    width: 150px;
    padding: 0.7rem;
  }
}

@media only screen and (max-width: 367px) {
  .col-right .thumbnail-img {
    width: 150px;
    height: 150px;
  }

  .slide .col-left .hero-title {
    font-size: 1.5rem;
    line-height: 1.2rem;
  }

  .slide .col-left .small-title {
    font-size: 1rem;
  }
}

.business-directories {
  width: 100%;
  position: relative;
  padding: 2rem 0;
}

.directories-list {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  margin: auto;
  color: var(--tertiary-color);
  justify-content: center;
}

.directories-list .item:not(:last-child):after {
  content: "|";
  margin: 0 0.5rem;
}

.directories-list .item a {
  color: var(--tertiary-color);
  transition: color 0.5s ease-in;
}

.directories-list .item a:hover {
  color: var(--secondary-color);
}

.directories-list .item a.active {
  color: var(--secondary-color) !important;
}

@media only screen and (max-width: 590px) {
  .directories-list {
    font-size: 0.8rem;
  }
}
